{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h2>CABINET HERMES</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consequatur corporis dolorem doloribus
            earum ex excepturi ipsa libero neque nisi officiis omnis perspiciatis quisquam, ratione rem rerum tempora velit voluptates.</p>
    </div>

    <div class="container">
    <h2>les derniers biens</h2>
        <div class="row flex">
            {% for bien in biens %}
                <div class="col-md-4 mt-4">
                    <div class="card">
                        <img src="https://gateway.transactium.fr/rep/picts/good/{{ bien.pictfilename1 }}" alt="" style="width: 100%; height:200px ">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ path('bien_show', {codeagence: bien.codeagence, numero: bien.numero, slug: bien.slug}) }}">{{ bien.titreannonce }}</a>
                            </h5>
                            <p class="card-text">{{ bien.ville }} ({{ bien.codepostal }})</p>
                            <p>{{ bien.activite }}</p>
                            <p>{{ bien.bienType }}</p>
                            <div class="text-danger" style="font-weight: bold; font-size: 1.3rem">
                                {% if bien.prixpublic != 0 %}
                                    {{ bien.formattedPrice }} € FAI*
                                {% else %}
                                    {{ bien.loyerannuel }} € HT / AN
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
