{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="text-center">
            <h2 class="pt-4 title">CABINET HERMES</h2>
            <p class="para-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consequatur corporis dolorem doloribus
                earum ex excepturi ipsa libero neque nisi officiis omnis perspiciatis quisquam, ratione rem rerum tempora velit voluptates.
            </p>
        </div>

        <div class="container pt-2">
            <div class="row">
                <div class="col-md-8">
                    {{ form_start(form) }}
                    <div class="form-row align-items-end">
                        <div class="col">
                            {{ form_row(form.activite) }}
                            {{ form_row(form.postalCode) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.maxPrice) }}
                            {{ form_row(form.minSurface) }}
                        </div>
                        <div class="col-12">
                            <div class="form-group pull-right">
                                <button class="btn btn-primary">Rechercher</button>
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
                <div class="col-md-1">
                    <hr>
                </div>
                <div class="col-md-3">
                    {{ form_start(formRef) }}
                    <div class="form-row align-items-end">
                        <div class="col">
                            {{ form_row(formRef.numero) }}
                        </div>
                        <div class="col-12">
                            <div class="form-group text-center">
                                <button class="btn btn-primary">Rechercher</button>
                            </div>
                        </div>
                    </div>
                    {{ form_end(formRef) }}
                </div>
            </div>
        </div>
    </div>

    <div class="biens_a_la_une pt-2 pb-2">
        <div class="container mt-4">
            <h2><i class="fa fa-star mr-2"></i>Les biens à la une !</h2>
            <div class="row flex">
                {% for bien in bienTops %}
                    <div class="col-md-4 mt-4">
                        <a href="{{ path('bien_show', {id: bien.id, slug: bien.slug}) }}">
                            <div class="card">
                                {% if bien.pictfilename1 is not empty %}
                                    <img src="https://gateway.transactium.fr/rep/picts/good/{{ bien.pictfilename1 }}" alt="min_{{ bien.pictfilename1 }}">
                                {% else %}
                                    <img src="{{ asset('assets/image/placeholder.png') }}" alt="min_placeholder" class="empty">
                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="{{ path('bien_show', {id: bien.id , slug: bien.slug}) }}">{{ bien.titreannonce }}</a>
                                    </h5>
                                    <p class="card-text"><i class="fa fa-map-marker mr-2"></i>{{ bien.ville }} ({{ bien.codepostal }})</p>
                                    <p class="card-text"><i class="fa fa-briefcase mr-2"></i>{{ bien.activite }}</p>
                                    <p class="card-text">Surface : {{ bien.surfacetotale }} m²</p>
                                    <div class="btn btn-danger pull-right prixAnnonce">
                                        {% if bien.prixpublic != 0 %}
                                            {{ bien.formattedPrice }} € FAI*
                                        {% else %}
                                            {{ bien.loyerannuel }} € HT / AN
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


    <div class="dernier_bien_ajoute">
        <div class="container mt-4">
            <h2><i class="fa fa-history mr-2"></i>les derniers biens ajoutés !</h2>
            <div class="row flex">
                {% for bien in biensLatest %}
                    <div class="col-md-4 mt-4">
                        <a href="{{ path('bien_show', {id : bien.id, slug: bien.slug}) }}">
                            <div class="card">
                                {% if bien.pictfilename1 is not empty %}
                                    <img src="https://gateway.transactium.fr/rep/picts/good/{{ bien.pictfilename1 }}" alt="min_{{ bien.pictfilename1 }}">
                                {% else %}
                                    <img src="{{ asset('assets/image/placeholder.png') }}" alt="min_placeholder" class="empty">
                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="{{ path('bien_show', {id : bien.id, slug: bien.slug}) }}">{{ bien.titreannonce }}</a>
                                    </h5>
                                    <p class="card-text"><i class="fa fa-map-marker mr-2"></i>{{ bien.ville }} ({{ bien.codepostal }})</p>
                                    <p class="card-text"><i class="fa fa-briefcase mr-2"></i>{{ bien.activite }}</p>
                                    <div class="btn btn-danger pull-right prixAnnonce">
                                        {% if bien.prixpublic != 0 %}
                                            {{ bien.formattedPrice }} € FAI*
                                        {% else %}
                                            {{ bien.loyerannuel }} € HT / AN
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>




{% endblock %}
