<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="{{ path('app_home') }}">
        <img src="https://www.cabinet-hermes.fr/wp-content/themes/hermes/assets/images/logo_header.svg" alt="Retour à l'accueil" title data-toggle="tooltip" data-placement="right"
        data-original-title="Retour à l'accueil" style="height: 100px">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_bien_all') }}">Nos biens<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a href="{{ path('contact_index') }}" class="nav-link">Contact</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('actuality_index') }}" class="nav-link">Actualités</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('cabinet_hermes_index') }}" class="nav-link">Cabinet Hermès</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('values_index') }}" class="nav-link">Les valeurs</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link auth" href="{{ path('user_show', {id : app.user.id}) }}">Mon compte : {{ app.user.username }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link auth" href="{{ path('app_logout') }}">Se deconnecter</a>
                </li>

            {% else %}
                <li class="nav-item">
                    <a class="nav-link auth" href="{{ path('app_register') }}">Créer un compte</a>
                </li>
               <li class="nav-item">
                   <a class="nav-link auth" href="{{ path('app_login') }}">Se connecter</a>
               </li>

            {% endif %}
        </ul>


    </div>
</nav>