{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
    <h1>{{ article.title }}</h1>
    <p>{{ article.createdAt|date }} - Commentaires : {{ commentaires|length }}</p>
    <div>{{ article.content|raw }}</div>

    <p>Catégories :
        {% for categorie in article.categories %}
            {{ categorie.nom }}
        {% endfor %}
    </p>

    <h2>Commentaires</h2>
    {% for commentaire in commentaires %}
        <p>Commentaire écrit par {{ commentaire.nickname }} le {{ commentaire.createdAt|date }}</p>
        <p>{{ commentaire.content }}</p>
    {% else %}
        <p>Il n'y a pas encore de commentaire, publiez le premier !</p>
    {% endfor %}
    {{ form(form) }}
{% endblock %}

