{% extends 'base.html.twig' %}

{% block title %}alert index{% endblock %}

{% block body %}
    <h1>Vos alertes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Budget max</th>
                <th>Activité</th>
                <th>Code postale</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for alert in alerts %}
            <tr>
                <td>{{ alert.maxPrice }}</td>
                <td>{{ alert.activity.name }}</td>
                <td>{{ alert.postalCode }}</td>
                <td>
                    <a class="btn btn-sm btn-primary" href="{{ path('alert_edit', {'id': alert.id}) }}">editer</a>
                    {{ include('alert/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('alert_new') }}">Nouvelle alerte</a>
{% endblock %}
