{% extends 'base.html.twig' %}

{% block title %}alert{% endblock %}

{% block body %}
    <h1>Vos listes de critères</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ alert.id }}</td>
            </tr>
            <tr>
                <th>Budget max</th>
                <td>{{ alert.maxPrice }}</td>
            </tr>
            <tr>
                <th>PostalCode</th>
                <td>{{ alert.postalCode }}</td>
            </tr>
            <tr>
                <th>Activité</th>
                <td>{{ alert.activity }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('alert_index') }}">back to list</a>

    <a href="{{ path('alert_edit', {'id': alert.id}) }}">edit</a>


{% endblock %}
