{% extends 'base.html.twig' %}
{% block title %}Votre recherche{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h2 class="count">
            Vous avez {{ biens.getTotalItemCount }} biens qui correspondent à votre recherche !
        </h2>
        <div class="d-flex justify-content-end sortable" >
            {{ knp_pagination_sortable(biens,'prix', 'p.prixpublic') }}
            {{ knp_pagination_sortable(biens,'surface', 'p.surfacetotale') }}
        </div>
        <div class="row flex">
            {% for bien in biens %}
                <div class="col-md-4 p-4">
                    <a href="{{ path('bien_show', {id: bien.id, slug: bien.slug}) }}">
                        <div class="card image-header">

                            {% if bien.pictfilename1 is not empty %}
                                <img src="https://gateway.transactium.fr/rep/picts/good/{{ bien.pictfilename1 }}" alt="min_{{ bien.pictfilename1 }}">
                            {% else %}
                                <img src="{{ asset('media/image/fondcommerce_cafe.jpg') }}" alt="min_placeholder" class="empty">
                            {% endif %}

                            <div class="card-body p-0">
                                {% if bien.typetransact == 1  %}
                                    <h6 class="card-title card-title-green text-center">
                                        <a class="annonceCardHome" href="{{ path('bien_show', {id: bien.id , slug: bien.slug}) }}">

                                            {% if bien.titreannonce is not empty %}
                                                {{ bien.titreannonce }}
                                            {% else %}
                                                Contactez-nous !
                                            {% endif %}
                                        </a>
                                    </h6>
                                {% elseif bien.typetransact == 4 %}
                                    <h6 class="card-title card-title-blue text-center">
                                        <a class="annonceCardHome" href="{{ path('bien_show', {id: bien.id , slug: bien.slug}) }}">

                                            {% if bien.titreannonce is not empty %}
                                                {{ bien.titreannonce }}
                                            {% else %}
                                                Contactez-nous !
                                            {% endif %}
                                        </a>
                                    </h6>
                                {% elseif bien.typebien == 2 and bien.typetransact == 3  %}
                                    <h6 class="card-title card-title-purple text-center">
                                        <a class="annonceCardHome" href="{{ path('bien_show', {id: bien.id , slug: bien.slug}) }}">

                                            {% if bien.titreannonce is not empty %}
                                                {{ bien.titreannonce }}
                                            {% else %}
                                                Contactez-nous !
                                            {% endif %}
                                        </a>
                                    </h6>
                                {% elseif bien.typetransact == 3 and bien.prixpublic > 0  %}
                                    <h6 class="card-title card-title-orange text-center">
                                        <a class="annonceCardHome" href="{{ path('bien_show', {id: bien.id , slug: bien.slug}) }}">

                                            {% if bien.titreannonce is not empty %}
                                                {{ bien.titreannonce }}
                                            {% else %}
                                                Contactez-nous !
                                            {% endif %}
                                        </a>
                                    </h6>
                                {% else %}
                                    <h6 class="card-title text-center">
                                        <a class="annonceCardHome" href="{{ path('bien_show', {id: bien.id , slug: bien.slug}) }}">

                                            {% if bien.titreannonce is not empty %}
                                                {{ bien.titreannonce }}
                                            {% else %}
                                                Contactez-nous !
                                            {% endif %}
                                        </a>
                                    </h6>
                                {% endif %}


                                <div class="card-text text-center mb-3">
                                    <i class="fa fa-briefcase mr-2"></i>{{ bien.activite }}
                                </div>
                                <div class="card-text text-center mb-3">
                                    <i class="fa fa-map-marker mr-2"></i>{{ bien.codepostal }} - ({{ bien.surfacetotale }} m²)
                                </div>
                                {% if bien.typetransact == 1 %}
                                    <div class="prixAnnonce card-title-green text-center">
                                        {% if bien.prixpublic != 0 %}
                                            {{ bien.formattedPrice }} € FAI*
                                        {% else %}
                                            {{ bien.loyerannuel }} € HT / AN
                                        {% endif %}
                                    </div>
                                {% elseif bien.typetransact == 4 %}
                                    <div class="prixAnnonce card-title-blue text-center">
                                        {% if bien.prixpublic != 0 %}
                                            {{ bien.formattedPrice }} € FAI*
                                        {% else %}
                                            {{ bien.loyerannuel }} € HT / AN
                                        {% endif %}
                                    </div>
                                {% elseif bien.typeBien == 2 %}
                                    <div class="prixAnnonce card-title-purple text-center">
                                        {% if bien.prixpublic != 0 %}
                                            {{ bien.formattedPrice }} € FAI*
                                        {% else %}
                                            {{ bien.loyerannuel }} € HT / AN
                                        {% endif %}
                                    </div>
                                {% elseif  bien.typetransact == 3 and (bien.typebien == 1 or bien.typebien == 2) %}
                                    <div class="prixAnnonce card-title-orange text-center">
                                        {% if bien.prixpublic != 0 %}
                                            {{ bien.formattedPrice }} € FAI*
                                        {% else %}
                                            {{ bien.loyerannuel }} € HT / AN
                                        {% endif %}
                                    </div>
                                {% else %}
                                    <div class="prixAnnonce text-center">
                                        {% if bien.prixpublic != 0 %}
                                            {{ bien.formattedPrice }} € FAI*
                                        {% else %}
                                            {{ bien.loyerannuel }} € HT / AN
                                        {% endif %}
                                    </div>
                                {% endif %}

                            </div>

                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="pagination">
            {{ knp_pagination_render(biens) }}
        </div>
    </div>
{% endblock %}
