{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="product-slider">
                            <div id="carousel" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    {% if bien.pictfilename1 is not empty %}
                                    <div class="carousel-item active">
                                        <a href="https://gateway.transactium.fr/rep/picts/good/{{ bien.pictfilename1 }}"><img src="https://gateway.transactium.fr/rep/picts/good/{{ bien.pictfilename1 }}" class="d-block w-100" alt="{{ bien.pictfilename1 }}" style="width: 800px; height: 400px"></a>
                                    </div>
                                    {% else %}
                                        <img src="{{ asset('assets/image/placeholder.png') }}" style="width: 600px; height: 400px" alt="placeholder">
                                    {% endif %}

                                    {% if bien.pictfilename2 and bien.pictfilename3 is not empty %}
                                    <div class="carousel-item">
                                        <a href="https://gateway.transactium.fr/rep/picts/good/{{ bien.pictfilename2 }}"><img src="https://gateway.transactium.fr/rep/picts/good/{{ bien.pictfilename2 }}" class="d-block w-100" alt="{{ bien.pictfilename2 }}" style="width: 800px; height: 400px"></a>
                                    </div>

                                    <div class="carousel-item">
                                        <a href="https://gateway.transactium.fr/rep/picts/good/{{ bien.pictfilename3 }}"><img src="https://gateway.transactium.fr/rep/picts/good/{{ bien.pictfilename3 }}" class="d-block w-100" alt="{{ bien.pictfilename3}}" style="width: 800px; height: 400px"></a>
                                    </div>
                                    {% endif %}
                                </div>
                                <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                            <div class="clearfix">
                                <div id="thumbcarousel" class="carousel slide" data-interval="false">
                                    <div class="carousel-inner">
                                        <div class="item active">

                                            <div data-target="#carousel" data-slide-to="0" class="thumb">
                                                {% if bien.pictfilename1 is not empty %}
                                                    <img src="https://gateway.transactium.fr/rep/picts/good/{{ bien.pictfilename1 }}" alt="min_{{ bien.pictfilename1 }}">
                                                {% else %}
                                                <img src="{{ asset ('assets/image/placeholder.png') }}" alt="min_placeholder">
                                                {% endif %}
                                            </div>
                                            {% if bien.pictfilename2 and bien.pictfilename3 is not empty %}
                                            <div data-target="#carousel" data-slide-to="1" class="thumb">
                                                <img src="https://gateway.transactium.fr/rep/picts/good/{{ bien.pictfilename2 }}" alt="min_{{ bien.pictfilename1 }}">
                                            </div>

                                            <div data-target="#carousel" data-slide-to="2" class="thumb">
                                                <img src="https://gateway.transactium.fr/rep/picts/good/{{ bien.pictfilename3 }}" alt="min_{{ bien.pictfilename1 }}">
                                            </div>
                                            {% endif %}
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                      </div>
                    <div class="col-md-5 ml-auto">
                        <h1>{{ bien.titreannonce }}</h1>
                        <p>Référence : {{ bien.numero }}</p>
                        <p>Activité : {{ bien.activite }}</p>
                        <div class="btn btn-success text-white" style="font-weight: bold; font-size: 1.5rem;">
                            {% if bien.prixpublic != 0 %}
                                {{ bien.formattedPrice }} € FAI*
                            {% else %}
                                {{ bien.loyerannuel }} € HT / AN
                            {% endif %}
                        </div>

                        {% if app.user %}
                            {% set userLikeProperty = false %}
                            {% for listPropertyByUser in bien.properties if listPropertyByUser.user.id == app.user.id %}
                                {% set userLikeProperty = true %}
                            {% endfor %}

                            {% if userLikeProperty %}
                                <a class="btn btn-warning" href="{{ path('property_notlike', {bienHermes : bien.id, user: app.user.id}) }}">retirer de ma list</a>
                            {% else %}
                                <a class="btn btn-primary" href="{{ path('property_like', {bienHermes : bien.id, user: app.user.id}) }}">mettre dans ma list</a>
                            {% endif %}

                        {% endif %}
                    </div>

                </div>
            </div>
        </div>

        <div class="container mt-4">
            <div class="row">
                <div class="col-md-7">
                    <h2 class="borderBottom">Description</h2>
                    {{ bien.annonce }}
                </div>
                <div class="col-md-5">
                    <h2 class="borderBottom">Chiffre</h2>
                    <table class="table table-stripped">
                        {% if bien.typebail is not empty %}
                            <tr>
                                <td>Types de bail</td>
                                <td>{{ bien.typebail }}</td>
                            </tr>
                        {% elseif bien.typebail is empty%}
                            <tr>
                                <td>Types de bail</td>
                                <td>n.c.</td>
                            </tr>
                        {% endif %}
                        {% if bien.loyerannuel > 0 %}
                            <tr>
                                <td>Loyer annuel</td>
                                <td>{{ bien.loyerannuel | number_format(0, ',', ' ') }} €</td>
                            </tr>
                            <t
                        {% elseif bien.loyerannuel == 0%}
                            <tr>
                                <td>Loyer annuel</td>
                                <td>n.c.</td>
                            </tr>
                        {% endif %}
                        {% if bien.caht > 0 %}
                            <tr>
                                <td>C.A HT total</td>
                                <td>{{ bien.caht| number_format(0, ',', ' ') }} €</td>
                            </tr>
                        {% elseif bien.caht == 0%}
                            <tr>
                                <td>C.A HT total</td>
                                <td>n.c.</td>
                            </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <h2 class="borderBottom">Caractéristiques</h2>
                    <table class="table table-stripped">
                        <tbody style="border-top: none">
                            <tr>
                                <td>Surface commerciale</td>
                                <td>{{ bien.surfacetotale }} m²</td>
                            </tr>
                            {% if bien.lineairefacade > 0 %}
                            <tr>
                                <td>Longueur vitrine</td>
                                <td>{{ bien.lineairefacade }} m</td>
                            </tr>
                            {% elseif bien.lineairefacade == 0 %}
                            <tr>
                                <td>Longueur vitrine</td>
                                <td>n.c.</td>
                            </tr>
                            {% endif %}
                            <tr>
                                <td>Affaire d'angle</td>
                                <td>{{ bien.bienangle ? 'oui':'non' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-5">
                    <h2 class="borderBottom">Spécificités</h2>
                    <div class="borderLeft">
                        <strong>Situation géographique</strong><br>
                        {{ bien.quartier }}
                    </div>

                    <table class="table table-stripped">
                        <tr>
                            <td>Emplacement N°</td>
                            <td>{{ bien.typeemplacement }}</td>
                        </tr>
                        <tr>
                            <td>Fermeture Hebdo.</td>
                            <td>{{ bien.fermeturehebdo | lower }}</td>
                        </tr>
                        <tr>
                            <td>Horaires</td>
                            <td>{{ bien.horaires }}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-12">
                    <div class="borderLeftNego">
                        <strong>Commentaire négociateur</strong><br>
                        {{ bien.notesnego }}
                    </div>
                </div>
            </div>
        </div>

{% endblock %}





