{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <!-- début header -->
    <div class="jumbotron home">
        <div class="text-center">
            <h2 class="pt-4 title">CABINET HERMES</h2>
            <p class="para-title">Expert immobilier d'entreprise en Auvergne-Rhône-Alpes,
                le Cabinet Hermès vous accompagne dans l'achat et la vente de fonds de commerce ou d’investissement immobilier.
            </p>
        </div>
    </div>
    <div class="container mt-4">
        <h2>L'actualité...</h2>
        {% if is_granted('ROLE_ADMIN') %}
            <div>
                <a href="{{ path('actuality_new') }}" class="btn btn-primary" >Créer une nouvelle actualité</a>
            </div>
        {% endif %}


        <div class="row flex">
            {% if actualities != null and actualities|length > 0 %}
                {% for actuality in actualities  %}
                    <div class="col-md-6 mt-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ actuality.title }}</h5>
                            </div>
                            <div>
                                <img src="{{ vich_uploader_asset(actuality, 'imageFile')|imagine_filter('thumb') }}" alt="" class="card-img-top">
                            </div>
                            <p class="card-text">{{ actuality.resume}}</p>
                        </div>
                        <div>
                            <a href="{{ path('actuality_show', {id: actuality.id}) }}" class="btn btn-sm btn-success">En savoir plus</a>
                        </div>
                    </div>
                    

                {% endfor %}
            {% endif %}
        </div>
    </div>






{% endblock %}