{% extends 'base.html.twig' %}

{% block title %}Hello AgenceController!{% endblock %}

{% block body %}
    <section class="bloc_page_title m-0" role="search">
        <div class="container p-5">
            <h1 class="mt-5">AGENCE DE CLERMONT-FERRAND</h1>
        </div>
    </section>

    <section class="bg-pattern mt-0 p-5">
        <div class="container white-bg mt-0">
            <div>
                <h2 style="color: #2e383c"><i class="fas fa-home mr-2" style="color: #fed200"></i>Notre Agence de Clermont</h2>
            </div>
            <div class="row">
                <div class="col-md-8 col-xs-12">
                    <img class="alignleft imgClermont" src="{{ asset('media/image/clermont_ferrand-3431813-300x169.jpg') }}" alt="" style="width: 300px">
                    <p style="color: #2e383c">
                        Rachetée en 2001 par Claude Richoux ,
                        l’agence  de  Clermont-Ferrand , devient en avril 2019 l’agence Cabinet Hermès de  Clermont-Ferrand.
                    </p>
                    <p style="color: #2e383c">
                        Le Cabinet Hermès Clermont se tient à votre disposition pour vous accompagner dans le choix de vos emplacements ou le rachat d’entreprises.
                        Vous avez besoin d’aide pour trouver des locaux commerciaux ? Locaux d’activités ? Bureaux ? Fonds de commerces ?</p>
                </div>
                <div class="col-md-4 col-xs-12 bg-rhoneAlpes">
                    <h5 style="font-size: 20px;font-weight: bold" class="mt-3">Expert immobilier Auvergne-Rhône-Alpes</h5>
                    <img src="{{ asset('media/image/rhone_alpes.png') }}" alt="" style="height:100px; width: 100px; float:right">
                    <ul class="p-0" style="margin-top:50px">
                        <li style="list-style: none">
                            <h5 style="font-size: 13px;font-weight: bold; color: #fed200">LYON</h5>
                            <a href="mailto:contact@cabinet-hermes.fr" style="font-size: 13px;font-weight: bold;">contact@cabinet-hermes.fr</a>
                            <br>
                            <strong style="font-size: 13px;font-weight: bold">04 78 42 40 80</strong>
                            <br>
                            <a href="https://www.google.com/maps/search/?api=1&query=2_place_Gailleton_LYON" target="_blank" style="font-size: 13px;font-weight: bold">2 place Gailleton
                                <br> LYON - 69002
                            </a>
                            <br>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="dernier_bien_ajoute pt-2 pb-2">
            <div class="container">
                <h2><i class="fas fa-history mr-2"></i>Les bien à la une à CLERMONT !</h2>
                <div class="row">
                    <div class="row flex">
                        {% for bien in biens %}
                            <div class="col-md-4 mt-4 p-4">
                                <a href="{{ path('bien_show', {id: bien.id, slug: bien.slug}) }}">
                                    <div class="card image-header">

                                        {% if bien.pictfilename1 is not empty %}
                                            <img src="https://gateway.transactium.fr/rep/picts/good/{{ bien.pictfilename1 }}" alt="min_{{ bien.pictfilename1 }}">
                                        {% else %}
                                            <img src="{{ asset('media/image/fondcommerce_cafe.jpg') }}" alt="min_placeholder" class="empty">
                                        {% endif %}

                                        <div class="card-body p-0">
                                            {% if  bien.typetransact == 4 %}
                                                <h6 class="card-title-blue text-center">
                                                    <a class="annonceCardHome" href="{{ path('bien_show', {id: bien.id , slug: bien.slug}) }}">

                                                        {% if bien.titreannonce is not empty %}
                                                            {{ bien.titreannonce }}
                                                        {% else %}
                                                            Contactez-nous !
                                                        {% endif %}
                                                    </a>
                                                </h6>
                                            {% elseif bien.typebien == 2 %}
                                                <h6 class="card-title-purple text-center">
                                                    <a class="annonceCardHome" href="{{ path('bien_show', {id: bien.id , slug: bien.slug}) }}">

                                                        {% if bien.titreannonce is not empty %}
                                                            {{ bien.titreannonce }}
                                                        {% else %}
                                                            Contactez-nous !
                                                        {% endif %}
                                                    </a>
                                                </h6>
                                            {% elseif bien.typetransact == 1 %}
                                                <h6 class="card-title-green text-center">
                                                    <a class="annonceCardHome" href="{{ path('bien_show', {id: bien.id , slug: bien.slug}) }}">

                                                        {% if bien.titreannonce is not empty %}
                                                            {{ bien.titreannonce }}
                                                        {% else %}
                                                            Contactez-nous !
                                                        {% endif %}
                                                    </a>
                                                </h6>
                                            {% elseif (bien.typebien == 1 or bien.typebien == 2) and bien.prixpublic > 0  %}
                                                <h6 class="card-title-orange text-center">
                                                    <a class="annonceCardHome" href="{{ path('bien_show', {id: bien.id , slug: bien.slug}) }}">

                                                        {% if bien.titreannonce is not empty %}
                                                            {{ bien.titreannonce }}
                                                        {% else %}
                                                            Contactez-nous !
                                                        {% endif %}
                                                    </a>
                                                </h6>
                                            {% endif %}
                                            <div class="card-text text-center mb-3">
                                                <i class="fa fa-briefcase mr-2"></i>{{ bien.activite }}
                                            </div>
                                            <div class="card-text text-center mb-3">
                                                <i class="fa fa-map-marker mr-2"></i>{{ bien.codepostal }} - ({{ bien.surfacetotale }} m²)
                                            </div>
                                            <div class="prixAnnonce text-center">
                                                {% if bien.prixpublic != 0 %}
                                                    {{ bien.formattedPrice }} € FAI*
                                                {% else %}
                                                    {{ bien.loyerannuel }} € HT / AN
                                                {% endif %}
                                            </div>
                                        </div>

                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </section>


{% endblock %}
