{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <div class="container">
        <h2>Bienvenu sur votre compte :</h2>
        <div class="row mt-4">
            <div class="col-md-8">
                <h4>Biens ajoutés</h4>
                <ul>
                    {% for listProperty in user.properties %}
                        <a href="{{ path('bien_show', { id: listProperty.bien.id, slug : listProperty.bien.slug}) }}"><li>{{ listProperty.bien.titreannonce }}</li></a>
                    {% endfor %}
                </ul>
                <ul>
                    {% if app.user %}
                        {% for alert in alerts  %}
                            <p>{{ alert.maxPrice }}</p>
                        {% endfor %}
                    {% endif %}

                </ul>
            </div>
            <div class="col-md-4">
                <h4>Nom du compte</h4>
                <p>{{ user.username }}</p>
                {% if app.user %}
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <a href="{{ path('alert_index', { id : user.id}) }}">Vos alertes</a>
                            </div>
                            <div class="col-12">
                                <a href="{{ path('alert_new', { id : user.id}) }}">Créer une nouvelle alerte</a>
                            </div>
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}
